@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-200;
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
  }

  .delay-200 {
    animation-delay: 200ms;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

@layer utilities {
  .animate-heartbeat {
    animation: heartbeat 1.5s infinite;
  }

  .animate-heartbeat-gray {
    animation: heartbeat-gray 2s infinite;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(244, 63, 94, 0.7);
  }

  25% {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba(244, 63, 94, 0);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(244, 63, 94, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(244, 63, 94, 0);
  }
}

@keyframes heartbeat-gray {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }

  25% {
    transform: scale(1.02);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}